<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<resultMap id="boardMap" type="com.ship.spring.dto.BoardDTO">
		<result column="BO_NO" property="boNo"/>
		<result column="USR_NM" property="usrNm"/>
		<result column="BO_TI" property="boTi"/>
		<result column="BO_DT" property="boDt"/>
		<result column="BO_CD" property="boCd"/>
		<result column="BO_PW" property="boPw"/>	  
		<result column="PR_NO" property="prNo"/>
		<result column="BO_CONT" property="boCont"/>
	</resultMap>
	
	<select id="getBoardList" parameterType="com.ship.spring.dto.BoardDTO" resultMap="boardMap">
	    SELECT
	    	a.*
	    FROM
	    	(
		    SELECT
		    	(ROW_NUMBER() OVER(order by bo_dt desc, bo_no desc)) AS rownum,
		    	bo_no,
		    	usr_nm, 
		    	bo_ti, 
		    	bo_dt, 
		    	bo_cd, 
		    	bo_pw, 
		    	pr_no,
		    	bo_cont
		    FROM
		    	board_info
		    WHERE
		    	bo_cd = #{boCd}
		    <if test="boTi != null">
				AND bo_ti LIKE '%' || #{boTi} || '%'
			</if>
	   		) a
	   	WHERE 
	   		a.rownum
	   	BETWEEN
	   		#{minRow}::numeric AND #{maxRow}::numeric
	</select>
	
	<select id="getBoardDetail" parameterType="com.ship.spring.dto.BoardDTO" resultMap="boardMap">
	    SELECT
			bo_no, bo_ti, bo_dt, bo_cd, bo_pw, pr_no, bo_cont, usr_nm
		FROM
			board_info
		WHERE 
			bo_no = #{boNo}::numeric
	</select>
</mapper>