<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<resultMap id="boardMap" type="com.ship.spring.dto.BoardDTO">
		<result column="BO_NO" property="boNo"/>
		<result column="USR_NM" property="usrNm"/>
		<result column="BO_TI" property="boTi"/>
		<result column="BO_DT" property="boDt"/>
		<result column="BO_CD" property="boCd"/>
		<result column="BO_PW" property="boPw"/>	  
		<result column="PR_NO" property="prNo"/>
		<result column="BO_CONT" property="boCont"/>
		<result column="BO_RE_CONT" property="boReCont"/>
		<result column="BO_PRV" property="boPrv"/>
		<result column="REPLYSTATE" property="replyState"/>
	</resultMap>
	
	<select id="getBoardList" parameterType="com.ship.spring.dto.BoardDTO" resultMap="boardMap">
	    SELECT
	    	a.*
	    FROM
	    	(
		    SELECT
		    	(ROW_NUMBER() OVER(order by bo_dt desc, bo_no desc)) AS rownum,
		    	bo_no,
		    	bo_ti, 
		    	bo_dt, 
		    	bo_cd,
		    	CASE 
			       	WHEN bo_prv = true
					THEN null
			       	ELSE bo_cont
			  	END 
			    	bo_cont,
		    	usr_nm, 
		    	bo_prv,
		    	CASE 
			       	WHEN bo_prv = true
					THEN null
			       	ELSE bo_re_cont
			  	END 
			  		bo_re_cont,
			  	CASE
			  		WHEN bo_re_cont is not null
			  		THEN true
			  		ELSE false
			  	END
			  		replystate
		    FROM
		    	board_info
		    WHERE
		    	bo_cd = #{boCd}
		    <if test="boTi != null">
			AND 
				bo_ti LIKE '%' || #{boTi} || '%'
			</if>
			<if test="usrNm != null">
			AND 
				usr_nm LIKE '%' || #{usrNm} || '%'
			</if>
			<if test="reStSel != null">
			AND 
				<if test="reStSel == '01'">
				bo_re_cont is null
				</if>
				<if test="reStSel == '02'">
				bo_re_cont is not null
				</if>
			</if>
			<if test="fromDate != null">
			AND 
				bo_dt <![CDATA[ >= ]]> #{fromDate}
			</if>
			<if test="toDate != null">
			AND 
				bo_dt <![CDATA[ <= ]]> #{toDate}
			</if>
			ORDER BY
				bo_dt DESC	
	   		) a
	   	WHERE 
	   		a.rownum
	   	BETWEEN
	   		#{minRow}::numeric AND #{maxRow}::numeric
	</select>
	
	<select id="getBoardDetail" parameterType="com.ship.spring.dto.BoardDTO" resultMap="boardMap">
	    SELECT
			bo_no,
		    bo_ti, 
		    bo_dt, 
		    bo_cd, 
		    bo_pw, 
		    bo_cont,
		    usr_nm, 
		    bo_prv,
		    bo_re_cont
		FROM
			board_info
		WHERE 
			bo_no = #{boNo}::numeric
	</select>
	
	<insert id="regBoard" parameterType="com.ship.spring.dto.BoardDTO">
		<if test="boCd == 01">
			INSERT INTO
				BOARD_INFO (
					bo_no, 
					bo_ti, 
					bo_dt, 
					bo_cd, 
					bo_pw, 
					bo_cont, 
					usr_nm, 
					bo_prv, 
					bo_re_cont
				)
			VALUES (
				nextval('seq_bo_no'),
				#{boTi},
				to_char(now(),  'YYYY-MM-DD HH24:MI'),
				#{boCd},
				null,
				#{boCont},
				'관리자',
				false,
				null
			)
		</if>
		<if test="boCd == 02">
			INSERT INTO
				BOARD_INFO (
					bo_no, 
					bo_ti, 
					bo_dt, 
					bo_cd, 
					bo_pw, 
					bo_cont, 
					usr_nm, 
					bo_prv, 
					bo_re_cont
				)
			VALUES (
				nextval('seq_bo_no'),
				#{boTi},
				to_char(now(),  'YYYY-MM-DD HH24:MI'),
				#{boCd},
				#{boPw},
				#{boCont},
				#{usrNm},
				#{boPrv},
				#{boReCont}
			)
		</if>
	</insert>
	
	<select id="checkPwd" parameterType="com.ship.spring.dto.BoardDTO" resultMap="boardMap">
	    SELECT
			bo_no, 
		    bo_pw,
		    bo_cont,
		    bo_re_cont
		FROM
			board_info
		WHERE 
			bo_no = #{boNo}::numeric
		AND
			bo_pw = #{boPw}
	</select>
	
	<delete id="deleteBoard" parameterType="com.ship.spring.dto.BoardDTO">
		<if test="boardList[0].boPw == null">
		DELETE FROM
		    board_info
		WHERE
		    bo_no IN
		<foreach item="item" collection="boardList" open="(" separator="," close=")">
			#{item.boNo}
		</foreach>
		</if>
		<if test="boardList.size() == 1 and boardList[0].boPw != null">
		DELETE FROM
			board_info
		WHERE
			bo_no = #{boardList[0].boNo}::numeric
		AND
			bo_pw = #{boardList[0].boPw}
		</if>
	</delete>
</mapper>