<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
	
	<select id="getReservationList" parameterType="com.ship.spring.dto.ReservationDTO" resultType="com.ship.spring.dto.ReservationDTO">
	    select
			c.tm_no,
			c.tm_dt,
			c.tm_cd,
			d.dt_cd_nm as tm_nm,
			c.st_cd,
			f.dt_cd_nm as st_nm,
			c.rsv_num,
			c.al_num,
			c.pr_cd,
			e.dt_cd_nm as pr_nm
		from
			(
			select 
			   a.tm_no, 
			   a.tm_dt,
			   a.tm_cd,
			   case 
			       when b.rsv_num = al_num::bigint 
			          then '03' 
			        else a.st_cd
			   end 
			       st_cd,
			   coalesce(b.rsv_num, 0) as rsv_num, 
			   a.al_num,
			   a.pr_cd
			from 
			   time_info a 
			left join 
			(
			select 
			   tm_no, 
			   count(rsv_no) as rsv_num 
			from 
				reservation_info 
			group by 
				tm_no
			) b 
			on 
				a.tm_no = b.tm_no
			) c
		join
		(
		select 
			mst_cd, dt_cd, dt_cd_nm from dt_cd where mst_cd = 'TM01'
		) as d
		on 
			c.tm_cd = d.dt_cd
		join 
		(
		select mst_cd, dt_cd, dt_cd_nm from dt_cd where mst_cd = 'PR01'
		) as e
		on 
			c.pr_cd = e.dt_cd
		join 
		(
		select mst_cd, dt_cd, dt_cd_nm from dt_cd where mst_cd = 'ST01'
		) as f
		on 
			c.st_cd = f.dt_cd
		order by 
			c.tm_dt, c.tm_cd
	</select>
	
</mapper>