<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
	
	<select id="getReservationList" parameterType="com.ship.spring.dto.ReservationDTO" resultType="com.ship.spring.dto.ReservationDTO">
	    SELECT
			c.tm_no,
			c.tm_dt,
			c.hhmm,
			c.wy_cd,
			d.dt_cd_nm as wy_nm,
			c.st_cd,
			f.dt_cd_nm AS st_nm,
			c.rsv_num,
			c.al_rsv_num,
			c.wa_num,
			c.al_wa_num,
			c.price
		FROM
			(
			SELECT
			   	a.tm_no, 
			   	a.tm_dt,
			   	a.hhmm,
			   	a.wy_cd,
				CASE 
			       	WHEN b.rsv_num = al_rsv_num::bigint 
					THEN '03' 
			       	ELSE a.st_cd
			  	END 
			    	st_cd,
			   	COALESCE(b.rsv_num, 0) AS rsv_num, 
			   	a.al_rsv_num,
			   	COALESCE(b.wa_num, 0) AS wa_num,
			   	a.al_wa_num,
			   	a.price
			FROM
			   time_info a 
			LEFT JOIN 
			(
			SELECT
			   tm_no, 
			   COUNT(case when rv_cd = '01' then 1 end) AS rsv_num,
			   COUNT(case when rv_cd = '02' then 1 end) AS wa_num
			FROM 
				reservation_info 
			GROUP BY 
				tm_no
			) b 
			ON 
				a.tm_no = b.tm_no
			) c
		JOIN 
		(
		SELECT mst_cd, dt_cd, dt_cd_nm FROM dt_cd WHERE mst_cd = 'WY01'
		) AS d
		ON
			c.wy_cd = d.dt_cd
		JOIN 
		(
		SELECT mst_cd, dt_cd, dt_cd_nm FROM dt_cd WHERE mst_cd = 'ST01'
		) AS f
		ON
			c.st_cd = f.dt_cd
		ORDER BY 
			c.tm_dt, c.hhmm
	</select>
	
	<select id="regUser" parameterType="com.ship.spring.dto.ReservationDTO" resultType="int">
		
		insert into user_info (usr_no, usr_nm, usr_zip, usr_ad, usr_ad_dt, usr_pn, usr_ju)
		values (
				nextval('seq_usr_no'),
				#{custNm},
				#{postCode},
				#{roadAddr},
				#{dtlAddr},
				#{custPhone},
				#{custSSNF} || #{custSSNB}
				)
		on conflict (usr_ju)
		do update set 
			temp = (select setval('seq_usr_no', currval('seq_usr_no')-1) as TEST),
			usr_nm = #{custNm},
			usr_zip = #{postCode},
			usr_ad = #{roadAddr},
			usr_ad_dt = #{dtlAddr},
			usr_pn = #{custPhone}
		returning usr_no
	</select>
	
	<select id="book" parameterType="java.util.List" resultType="String">
		insert into 
			reservation_info
			(
				rsv_no,
				usr_no,
				tm_no,
				us_cd,
				rv_cd,
				rsv_dt
			)
		values
			<foreach collection="list" item="item" index="index" separator=",">
				<if test="index == 0">
					(
					 	nextval('seq_rsv_no'),
					 	#{item.usr_no}::numeric,
					 	#{item.tm_no}::numeric,
					 	#{item.us_cd},
					 	#{item.rv_cd},
					 	to_char(now(),  'YYYY-MM-DD HH24:MI')
					)
				</if>
				<if test="index != 0">
					(
					 	currval('seq_rsv_no'),
					 	#{item.usr_no}::numeric,
					 	#{item.tm_no}::numeric,
					 	#{item.us_cd},
					 	#{item.rv_cd},
					 	to_char(now(),  'YYYY-MM-DD HH24:MI')
					)
				</if>
			</foreach>
			returning rsv_dt
	</select>
	
</mapper>